[Desktop Entry]
Name=Waifu Generator
Exec=.config/waifugenerator/waifugenerator
Icon=.config/waifugenerator/icon.png
Type=Application
Categories=Utility;
